@import "tailwindcss/base";
/* @import "./custom-base-styles.css"; */

@import "tailwindcss/components";
/* @import url(); */

@import "tailwindcss/utilities";
/* @import "./custom-utilities.css"; */

html, body {
    width: 100%;
    margin: 0;
    background-color: #071330;
    color: aqua;
    justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: 'border-box';
  margin: 0;
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1,
h2,
h3{
  font-family: var(--font-fira-code);
  margin: 0;
}

h4,
h5,
h6{
  font-family: var(--font-poppins);
  margin: 0;
}

p,
.p{
  font-family: var(--font-poppins);
}

#nav-content {
  animation: 1s appear;
  margin: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nav-bg {
  -webkit-backdrop-filter: blur(42px);
  backdrop-filter: blur(42px);
}

.loading {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.group {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}



/* ? NOTE: https://tailwindcss.com/docs/using-with-preprocessors#build-time-imports */
/* @tailwind base;
@tailwind components;
@import "tailwindcss/components";
@tailwind utilities; */

@layer base {
  body {
    @apply font-bodyFont;
  }

  p, a {
    @apply text-white dark:text-white-dark;
  }
}
@layer components {

  .l-container {
    @apply container mx-auto px-4 md:px-12;
  }
  .s-container {
    @apply container mx-auto px-4 md:px-24 lg:px-40;
  }

}
